@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.forgotPassword {
  font-size: 16px;
  font-family: var(--secondaryFont);
  font-weight: variables.font-weight(bold);
  text-decoration: none;
  color: var(--backgroundNeutralLighter);
  margin: 30px auto;
  align-self: flex-end;
}

.register {
  font-size: 16px;
  font-family: var(--secondaryFont);
  font-weight: variables.font-weight(bold);
  text-decoration: none;
  color: var(--backgroundNeutralLighter);
  margin: 0px auto 30px auto;
  align-self: flex-end;

  .registerHighlighted {
    color: var(--btnPrimary);
  }

  &:hover {
    .registerHighlighted {
      color: var(--btnPrimaryDarker);
    }
  }
}
