@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.title {
  color: white;
  font-family: var(--secondaryFont);
  font-size: 2rem;
  font-weight: bold;
  gap: 0.5rem;
  margin-bottom: 2rem;
  margin-top: 15px;

  @media #{variables.media-query(max, lg)} {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: variables.font-weight(bold);
    font-size: 30px;
  }
}
