@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.title {
  color: white;
  font-family: var(--secondaryFont);
  font-size: 2rem;
  font-weight: bold;
  gap: 0.5rem;
  margin-bottom: 2rem;
  margin-top: 15px;

  @media #{variables.media-query(max, lg)} {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: variables.font-weight(bold);
    font-size: 30px;
  }
}

.forgotPassword {
  font-size: 16px;
  font-family: var(--secondaryFont);
  font-weight: variables.font-weight(bold);
  text-decoration: none;
  color: var(--backgroundNeutralLighter);
  margin: 30px auto;
  align-self: flex-end;
}

.register {
  font-size: 16px;
  font-family: var(--secondaryFont);
  font-weight: variables.font-weight(bold);
  text-decoration: none;
  color: var(--backgroundNeutralLighter);
  margin: 0px auto 30px auto;
  align-self: flex-end;

  .registerHighlighted {
    color: var(--btnPrimary);
  }

  &:hover {
    .registerHighlighted {
      color: var(--btnPrimaryDarker);
    }
  }
}
.linksContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
