@use '/src/styles/variables';
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

/* body {
  margin: 0;
} */

.formLayout {
  background: #7e7d7d
    url('https://img.freepik.com/free-photo/lamb-steak-pieces-with-sauces-grilled-pepper-fresh-salad-wooden-board_140725-10580.jpg?w=996&t=st=1671126816~exp=1671127416~hmac=9240892c9c1e4ba45c248cd00be82377b16d791a242bd33d76dd835eee67612b');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  padding: 3rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);

  @media #{variables.media-query(max, lg)} {
    background: none;
    background-color: var(--backgroundMain);
  }
  .closeBtn {
    height: 35px;
    width: 35px;
    background-image: url('/images/icons/white-close-icon.png');
    background-size: contain;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.containerLayout {
  animation: fadeInUp 1.5s ease;
  border-radius: 30px;
  background-color: var(--backgroundMain);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 50px;

  @media #{variables.media-query(max, lg)} {
    height: 100vh;
    justify-content: center;
    padding: 0px 50px 30px 50px;
  }
}
