@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.settingNewPasswordContainer {
  font-family: var(--secondaryFont);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 420px;
  width: 100%;
  margin: 60px auto 150px auto;

  h1 {
    color: var(--backgroundNeutralDarker);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .mainDesc {
    margin: 10px 0 30px 0;
    max-width: 350px;
    color: var(--backgroundNeutralDarker);
    font-size: 1rem;
  }

  :global(.customInput) {
    margin-bottom: 20px;
  }

  @media #{variables.media-query(max, lg)} {
    margin: 40px auto 100px auto;

    h1 {
      font-size: 1.5rem;
    }

    .mainDesc {
      font-size: 0.95rem;
    }
  }
}
